extends layout.pug 

block content 

    .container 
        h1.heading_blog All Your Blogs 

        if blogs.length
        each blog in blogs
            .blogs
                div.blog-wrapper
                    .image
                        img.blog_image(src=`/static/images/${ blog.photo }`)
                    .text
                        h3.title  #{blog.title}
                        h5.author #{blog.author}
                        a.blog_read(href=`/blogs/${blog.id}`) Read More
                        a.delete(href=`/blogs/${blog.id}/delete`) Delete

        else
            h5.error_message Blog does not exist